.gradient-custom-2 {
/* fallback for old browsers */
/* background: #fccb90; */

/* Chrome 10-25, Safari 5.1-6 */
/* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
/* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (min-width: 990px) {
    img {
        width: 30rem;
    }
}
